
<nav class="navbar fixed-bottom" style="background-color: #e3f2fd;">
    
        <% if(user) { %>
        <a class="navbar-brand mx-2" href="/profile"><i class="fa fa-user"></i></a>
        <a class="navbar-brand" href="/addpost">Add Post  <i class="fa fa-plus-square-o"></i></a>
        <a class="navbar-brand" href="/addpost">Social Media Inc</a>

        <% }else{ %>
            <a href="#" class="navbar-brand">Social Media App Inc.</a>
            <a href="#" class="navbar-brand">Developed by Abhishek kumar</a>
        <% } %>    
    
  </nav>