<div id="homepage" class="container">
  <h1>Welcome</h1>
  <h1>Social Media App</h1>

  <h1 class="google">
    <a href="/auth/google" class="btn btn-social btn-google btn-lg">
      <i class="fa fa-google"></i> Login with Google
    </a>
  </h1>
  <h1 class="facebook">
    <a href="/auth/facebook" class="btn btn-social btn-facebook btn-lg">
      <i class="fa fa-facebook"></i> Login with Facebook
    </a>
  </h1>

  <!-- <h1 class="instagram">
    <a href="/auth/instagram" class="btn btn-social btn-instagram btn-lg">
      <i class="fa fa-instagram"></i> Login with Instagram
    </a>
  </h1> -->

  <!-- <h1>
    <a class="btn btn-block btn-social btn-twitter btn-lg">
      <span class="fa fa-twitter"></span> Sign in with Twitter
    </a>
  </h1> -->
</div>
