* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#homepage {
    text-align: center;

}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.col-sm-4 {
    margin-bottom: 10px;
}

#address {
    color: green;
    justify-content: center;
}

.post-user-pic {
    width: 100px;
    height: auto;
}

.red {
    color: green;
}